{% extends 'main.html' %}

{% block content %}

<div style="background-color: white">
    <h1>Welcome to Şehir Study Questions</h1>

    <h3>This is a Database Systems Project</h3> <br><br>

    <h5>This website will act as a combination between Kaggle and LMS,<br><br>It will allow the Students to compete
        amongst each other<br><br>
        to solve some of the study questions posted by their Instructors.<br><br><br> Our university lacks such a nice
        addition, that is why we decided to add this fun project to our uni.<br><br><br><br> Hope You Enjoy it !</h5>
    {% endblock %}
</div>

